p {
    height: 30px;
    width: 100px;
    padding: 15px;
    margin: 10px 15px 20px 25px;
    background-color: green;
    color: aqua;
}

h1 {
    font-size: 12pt;
    border: 10px solid purple;
}

h1, h2, h4 {
    border: 3px dashed red;
}